  <nav class="navbar navbar-lewagon bg-body-tertiary sticky-top bg-gray">
    <div class="container-fluid">
      <a class="navbar-brand" href="/lists">
        <i class="fa-solid fa-clapperboard"></i> My Favorite Movies
      </a>
    </div>
  </nav>
