
<div class="container">
  <h1 class="form-title">Edit this list</h1>

  <%= render "form", list: @list %>

  <br>

  <div class="form-btn col-6">
    <%= link_to "â†Back to lists", lists_path, class: "btn btn-primary" %>
  </div>
</div>
