<p style="color: green"><%= notice %></p>

<h1>Lists</h1>

<div id="lists">
  <ol>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
      <%= link_to "Delete", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </ol>
</div>

<%= link_to "New list", new_list_path %>
