.form-card {
  margin: 30px auto 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
}

.form-title {
  text-align: center;
  margin-top: 30px;
  position: relative;
  &::after {
    content: "";
    width: 250px;
    height: 10px;
    background-color: blue;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.form-btn {
  margin: 0 auto;
}
