.card {
  position: relative;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 300px;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &.card-overview {
    height: 50%;
  }
  &.card-adding {
      text-decoration: none;
      color: black;
      font-size: 24px;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 6px dashed black;
  }
}

.position-absolute {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 16px;
  & .card-category {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    & .list-name {
      & > a {
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      }
    }
    & .btn-delete {
      position: absolute;
      top: 10px;
      right: 10px;
      & > a {
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      }
    }
  }
  & .card-adding {
    height: 180px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px dashed black;
    border-radius: 5px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
