.list-counter {
  width: 95px;
  text-align: center;
  padding: 5px;
  background-color: orange;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
