.list-counter {
  padding: 5px;
  background-color: orange;
  position: absolute;
  bottom: 20px;
  right: 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
